*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_notebooks/blog_1_data/
_notebooks/blog_1_data.zip
_notebooks/data/
_notebooks/covid.csv
_notebooks/covid.csv
.gitignore
_notebooks/normal.csv
_notebooks/pneumonia.csv
_notebooks/val_labels.csv
_notebooks/train_labels.csv
